# Write your rules to this file
# Rules could be on more lines, but must end with semicolon (;)
# You can use hash tag for comment lines, block comments are not supported
# Grammar definition is described in documentation


IF player_dont_have_base AND not_a_mountain 0 0 THEN build_base 0 0;
IF player_dont_have_base AND a_mountain 0 0 THEN build_base 0 1;

#base_defenders
IF is_base_position 0 0 AND is_empty_position 1 0 AND money > 11 THEN build_knight 1 0;
IF is_base_position 0 0 AND is_empty_position 1 -1 AND money > 11 THEN build_knight 1 -1;
IF is_base_position 0 0 AND is_empty_position 0 -1 AND money > 11 THEN build_knight 0 -1;
IF is_base_position 0 0 AND is_empty_position -1 -1 AND money > 11 THEN build_knight -1 -1;
IF is_base_position 0 0 AND is_empty_position -1 0 AND money > 11 THEN build_knight -1 0;
IF is_base_position 0 0 AND is_empty_position 0 1 AND money > 11 THEN build_knight 0 1;

IF is_base_position 0 1 AND is_empty_position 0 0 AND money > 11 THEN build_knight 0 0;
IF is_base_position 0 1 AND is_empty_position -1 1 AND money > 11 THEN build_knight -1 1;
IF is_base_position 0 1 AND is_empty_position 0 2 AND money > 11 THEN build_knight 0 2;
IF is_base_position 0 1 AND is_empty_position 1 1 AND money > 11 THEN build_knight 1 1;
IF is_base_position 0 1 AND is_empty_position 1 0 AND money > 11 THEN build_knight 1 0;
IF is_base_position 0 1 AND is_empty_position -1 0 AND money > 11 THEN build_knight -1 0;

#jednoduche pravidla
IF visible_free_tile* mountain AND money > 30 AND can_place_scouts THEN build_archer visible_free_tile;
#IF visible_free_tile* hill AND money > 24 THEN build_druid visible_free_tile WITH 0.4;



#neurcitost
IF gyus_from_bot [0.80] AND visible_free_tile_bot* [0.70] AND money > 11 THEN build_knight_pos visible_free_tile_bot WITH 0.8;
IF gyus_from_top [0.60] AND visible_free_tile_top* [0.80] AND money > 11 THEN build_knight_poss visible_free_tile_top WITH 0.7;
IF gyus_from_left [0.6] AND visible_free_tile_left* [0.65] AND money > 11 THEN build_knight_pos visible_free_tile_left WITH 0.7;
IF gyus_from_right [0.5] AND visible_free_tile_right* [0.80] AND money > 11 THEN build_knight_poss visible_free_tile_right WITH 0.75;
